<div>
    <mat-card>

        <div><h1>Register</h1></div>

        <div class="">
            <mat-form-field>
                <input matInput placeholder="Enter the email" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getEmailErrorMsg()}}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="Enter the password" [formControl]="password" required>
                <mat-error *ngIf="password.invalid">{{getPwdErrorMsg()}}</mat-error>
            </mat-form-field>
        </div>
        
        <div class="mt-10">
            <button mat-raised-button (click)="registerUser()"> Create </button>

        </div>
    
    </mat-card>
</div>