/* ==========================================================================
   #SPACING
   ========================================================================== */

.u-Top1 {
    padding-top: 0.125em !important;
}
.u-Top2 {
    padding-top: 0.25em !important;
}
.u-Top3 {
    padding-top: 0.5em !important;
}
.u-Top4 {
    padding-top: 1em !important;
}
.u-Top5 {
    padding-top: 1.5em !important;
}
.u-Top6 {
    padding-top: 2em !important;
}
.u-Top7 {
    padding-top: 2.75em !important;
}
.u-Top8 {
    padding-top: 4em !important;
}

.u-Right1 {
    padding-right: 0.125em !important;
}
.u-Right2 {
    padding-right: 0.25em !important;
}
.u-Right3 {
    padding-right: 0.5em !important;
}
.u-Right4 {
    padding-right: 1em !important;
}
.u-Right5 {
    padding-right: 1.5em !important;
}
.u-Right6 {
    padding-right: 2em !important;
}
.u-Right7 {
    padding-right: 2.75em !important;
}
.u-Right8 {
    padding-right: 4em !important;
}
.u-Bottom1 {
    padding-bottom: 0.125em !important;
}
.u-Bottom2 {
    padding-bottom: 0.25em !important;
}
.u-Bottom3 {
    padding-bottom: 0.5em !important;
}
.u-Bottom4 {
    padding-bottom: 1em !important;
}
.u-Bottom5 {
    padding-bottom: 1.5em !important;
}
.u-Bottom6 {
    padding-bottom: 2em !important;
}
.u-Bottom7 {
    padding-bottom: 2.75em !important;
}
.u-Bottom8 {
    padding-bottom: 4em !important;
}
