<img src="../assets/logo.png" class="img-fluid" alt="Responsive image">
<h3>User Data</h3>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col"><button type="button" class="btn btn-primary">Add</button></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let list of userList">
      <td>{{ list.id }}</td>
      <td>{{ list.first_name }}</td>
      <td>{{ list.last_name }}</td>
      <td>
        <button type="button" class="btn btn-primary">Update</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>