@import "./components/_fonts.scss";
@import "./components/_variables.scss";
@import "./components/_mixins.scss";
@import "./components/_components.scss";
@import '~bootstrap/scss/bootstrap';

html,
body {
    height: 100%;
    font-family: $font-family-base !important;
    color: $font-color-base;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    text-rendering: auto;
  }


