@font-face {
    font-family: 'Bw Modelica SS01 Light';
    font-style: normal;
    font-weight: 300;
    src: local('Bw Modelica SS01 Light'), url('/resources/fonts/BwModelicaSS01-Light.woff') format('woff');
}

@font-face {
    font-family: 'Bw Modelica SS01 Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Bw Modelica SS01 Light Italic'), url('/resources/fonts/BwModelicaSS01-LightItalic.woff') format('woff');
}

@font-face {
    font-family: 'Bw Modelica SS01 Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Bw Modelica SS01 Regular'), url('/resources/fonts/BwModelicaSS01-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Bw Modelica SS01 Regular Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Bw Modelica SS01 Regular Italic'), url('/resources/fonts/BwModelicaSS01-RegularItalic.woff') format('woff');
}

@font-face {
    font-family: 'Bw Modelica SS01 Hairline';
    font-style: normal;
    font-weight: normal;
    src: local('Bw Modelica SS01 Hairline'), url('/resources/fonts/BwModelicaSS01-Hairline.woff') format('woff');
}

@font-face {
    font-family: 'Bw Modelica SS01 Hairline Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Bw Modelica SS01 Hairline Italic'), url('/resources/fonts/BwModelicaSS01-HairlineItalic.woff') format('woff');
}

@font-face {
    font-family: 'Bw Modelica SS01 Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Bw Modelica SS01 Thin'), url('/resources/fonts/BwModelicaSS01-Thin.woff') format('woff');
}

@font-face {
    font-family: 'Bw Modelica SS01 Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Bw Modelica SS01 Thin Italic'), url('/resources/fonts/BwModelicaSS01-ThinItalic.woff') format('woff');
}

@font-face {
    font-family: 'Bw Modelica SS01 Medium';
    font-style: normal;
    font-weight: 500;
    src: local('Bw Modelica SS01 Medium'), url('/resources/fonts/BwModelicaSS01-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Bw Modelica SS01 Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Bw Modelica SS01 Medium Italic'), url('/resources/fonts/BwModelicaSS01-MediumItalic.woff') format('woff');
}

@font-face {
    font-family: 'Bw Modelica SS01 Bold';
    font-style: normal;
    font-weight: 600;
    src: local('Bw Modelica SS01 Bold'), url('/resources/fonts/BwModelicaSS01-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Bw Modelica SS01 Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Bw Modelica SS01 Bold Italic'), url('/resources/fonts/BwModelicaSS01-BoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Bw Modelica SS01 ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Bw Modelica SS01 ExtraBold'), url('/resources/fonts/BwModelicaSS01-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'Bw Modelica SS01 ExtraBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Bw Modelica SS01 ExtraBold Italic'), url('/resources/fonts/BwModelicaSS01-ExtraBoldItalic.woff') format('woff');
}

@font-face {
    font-family: 'Bw Modelica SS01 Black';
    font-style: normal;
    font-weight: normal;
    src: local('Bw Modelica SS01 Black'), url('/resources/fonts/BwModelicaSS01-Black.woff') format('woff');
}

@font-face {
    font-family: 'Bw Modelica SS01 Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Bw Modelica SS01 Black Italic'), url('/resources/fonts/BwModelicaSS01-BlackItalic.woff') format('woff');
}
