@font-face {
    font-family: 'BwModelicaLight';
    font-style: normal;
    font-weight: 300;
    src: local('Bw Modelica Light'), url('/fonts/BwModelica-Light.otf') format("opentype");
}

@font-face {
    font-family: 'BwModelicaRegular';
    font-style: normal;
    font-weight: 400;
    src:  local('Bw Modelica Regular'), url('/fonts/BwModelica-Regular.otf') format("opentype");
}

@font-face {
    font-family: 'BwModelicaMedium';
    font-style: normal;
    font-weight: 500;
    src: local('Bw Modelica Medium'), url('/fonts/BwModelica-Medium.otf') format("opentype");
}

@font-face {
    font-family: 'BwModelicaBold';
    font-style: normal;
    font-weight: 600;
    src: local('Bw Modelica Bold'), url('/fonts/BwModelica-Bold.otf') format("opentype");
}

@font-face {
    font-family: 'BwModelicaExtraBold';
    font-style: normal;
    font-weight: 700;
    src: local('Bw Modelica ExtraBold'), url('/fonts/BwModelica-ExtraBold.otf') format("opentype");
}


