@import "../../styles//library";

.container-users {
  width: 100%;

  & .container-user-create {
    width: 100%;
    margin-bottom: 15px;

    & .btn-user-create {
      width: 150px;
      height: 50px;
      border-radius: 15px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 30px;
      box-shadow: none;

      & span {
        font-size: 18px;
        font-weight: 600;
      }
    }
  }

  & .container-user-form {
    height: inherit;
    display: flex;
    align-items: center;

    & form {
      height: 100px;

      & .modal-actions {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;

        & button {
          width: 71px;
          height: 38px;
          border-radius: 10px;
          max-height: 38px;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;

          & .fa-spin {
            position: absolute;
          }
        }
      }
    }

    & .container-prepend {
      display: flex;
      width: 100%;

      & input {
        margin-bottom: 10px;
      }

      & span.input-group-text {
        width: 100px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 10px;
      }
    }
  }
}

.container-user-card {
  display: flex !important;
  align-items: space-around !important;
  justify-content: space-around !important;

  @media (min-width: $media-desktop) {
    & {
      display: flex;
      justify-content: flex-start;
      position: absolute;
      width: 80%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (max-width: $media-tablet) {
    display: flex;
    justify-content: center;
  }

  & .card {
    margin-top: 30px;
    padding: 0;
    min-width: 280px;
    max-width: 280px;
    max-height: 280px;
    border-radius: 10px;
    border: none;
  }

  & i {
    width: 280px;
  }

  & .card-body {
    display: flex;
    align-items: center;
    max-height: 100px;
    position: relative;
    border-radius: 10px;
    border: solid 1px #979797;
    padding: 10px;

    & .card-user-img {
      flex: 1;

      & .user-card-img-top {
        border-radius: 50%;
        max-width: 55px;
      }
    }

    & .card-user-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 2;
      height: 100%;
      padding: 10px 0 0 0;

      & input {
        border: none;
        max-width: 140px;
        max-height: 24px;
        font-weight: 900;
        outline: none;
        border-bottom: 2px solid rgba(79, 166, 237, 0.5);

        &:disabled {
          background: transparent;
          color: #000;
          border-bottom: none;
        }

        &:focus {
          border-bottom: 2px solid rgb(79, 166, 237);
        }

        &:last-child {
          font-size: 12px;
        }
      }
    }

    & .card-user-actions {
      display: flex;
      flex-direction: column;
      align-items: space-around;
      justify-content: space-around;
      height: 100%;

      & button {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #121212;
        border: solid 1px #a0a0a0;
        font-size: 16px;
        box-shadow: none;

        &:nth-child(2) {
          margin-top: 5px;
        }

        &:hover {
          color: rgb(237, 26, 59);
        }
      }
    }
  }
}
