/* ==========================================================================
   #FORM
   ========================================================================== */
@keyframes ripple {
    0% {
        transform: scale(0.1, 0.1);
    }
    20% {
        transform: scale(0.25, 0.25);
    }
    100% {
        transform: scale(1, 1);
    }
}
@keyframes fadeIn {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
    }
    50% {
        transform: scale(1, 1);
        opacity: 0.2;
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}
@keyframes fadeOut {
    0% {
        transform: scale(0.1, 0.1);
        opacity: 0;
    }
    50% {
        transform: scale(1, 1);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1, 1);
    }
}

.c-Form {
    > ._field {
        padding: 0.25em 0;
        &.z-VPadding3 {
            padding: 0.5em 0;
        }
        &.z-NoSpace {
            padding: 0 0;
        }
    }
    ._textField {
        border: 1px solid $Grey;
        width: 100%;
        padding: 0 0.625em;
        font-size: 1rem;
        @include placeholder(1rem, 400, $Grey);
    }
    ._checkboxWrap {
        position: relative;
        padding-left: 0.6em;
    }
    ._checkbox {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 1rem;
        height: 1rem;
        opacity: 0.01;
        z-index: 99;
        cursor: pointer;
    }
    ._checkMark {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 1rem;
        height: 1rem;
        border-radius: 4px;
        z-index: 100;
        background-size: 0;
        transition: all 0.3s;
        background-position: center center;
        background-repeat: no-repeat;
        &::before {
            content: ' ';
            position: absolute;
            top: -0.5rem;
            left: -0.5rem;
            width: 2rem;
            height: 2rem;
            border-radius: 2rem;
            transform: scale(1, 1) translate(0);
            transform-origin: 50% 50%;
        }
        &::after {
            content: ' ';
            position: absolute;
            top: -0.5rem;
            left: -0.5rem;
            width: 2rem;
            height: 2rem;
            border-radius: 2rem;
            transform: scale(1, 1) translate(0);
            transform-origin: 50% 50%;
        }
    }
    ._checkboxLabel {
        padding-left: 1.5rem;
        position: relative;
        z-index: 98;
        display: block;
        line-height: 1rem;
    }
    ._checkboxWrap {
        &.z-14BlueMedium {
            ._checkboxLabel {
                @include Text14BlueMedium;
            }
            ._checkMark {
                border: 1px solid $Blue;
            }
            ._checkMark::after {
                background: rgba(19, 85, 139, 0.3);
                opacity: 0;
            }
            ._checkbox:checked + ._checkMark {
                background-color: $Blue;
                background-image: url(../images/checkMark.png);
                background-size: 100%;
            }
            ._checkbox:focus + ._checkMark {
                &::after {
                    background-color: rgba(19, 85, 139, 0.3);
                    animation: fadeOut 0.5s ease-out;
                    animation-fill-mode: forwards;
                }
            }
            ._checkbox:active + ._checkMark {
                &::before {
                    background-color: rgba(19, 85, 139, 0.3);
                    animation: fadeIn 0.5s ease-out;
                    animation-fill-mode: forwards;
                }
            }
            ._checkMark:hover {
                &::before {
                    background-color: rgba(19, 85, 139, 0.1);
                    animation: fadeIn 0.5s ease-out;
                    animation-fill-mode: forwards;
                }
            }
        }
        &.z-12Red2Medium {
            ._checkboxLabel {
                @include Text12Red2Medium;
            }
            ._checkMark {
                border: 1px solid $Red2;
                background-size: 100%;
            }
            ._checkMark::after {
                background: rgba(229, 115, 115, 0.3);
                opacity: 0;
            }
            ._checkbox:checked + ._checkMark {
                background-color: $Red2;
                background-image: url(../images/checkMark.png);
                background-size: 100%;
            }
            ._checkbox:focus + ._checkMark {
                &::after {
                    background-color: rgba(229, 115, 115, 0.3);
                    animation: fadeOut 0.5s ease-out;
                    animation-fill-mode: forwards;
                }
            }
            ._checkbox:active + ._checkMark {
                &::before {
                    background-color: rgba(229, 115, 115, 0.3);
                    animation: fadeIn 0.5s ease-out;
                    animation-fill-mode: forwards;
                }
            }
            ._checkMark:hover {
                &::before {
                    background-color: rgba(229, 115, 115, 0.1);
                    animation: fadeIn 0.5s ease-out;
                    animation-fill-mode: forwards;
                }
            }
        }
        &.z-14GreyMedium {
            ._checkboxLabel {
                @include Text14Grey;
                &:before {
                    border: 1px solid $Grey;
                }
            }
            ._checkbox:checked + ._checkboxLabel {
                &:before {
                    background-color: $Grey;
                }
            }
        }
        ._checkbox[disabled] + ._checkMark {
            border: 1px solid $Grey2;
            &:after,
            &:before {
                display: none;
            }
        }
        ._checkbox[disabled]:checked + ._checkMark {
            background-color: $Grey2;
        }
        ._checkbox[disabled] + ._checkMark + ._checkboxLabelValue {
            @include Text14Grey2;
        }
    }
    ._checkboxWrap {
        &.z-Disabled {
            ._checkbox + ._checkboxLabel {
                &::before {
                    border-color: $Grey2;
                }
            }
            ._checkbox:checked + ._checkboxLabel {
                &::before {
                    background-color: $Grey2;
                    border-color: $Grey2;
                }
            }
            ._checkbox {
                cursor: default;
                z-index: 1;
            }
        }
    }

    ._fieldError {
        @include Text11Red;
        display: block;
        padding-bottom: 0.5em;
    }
    &.z-Rounded {
        ._textField {
            border-radius: 1.25em;
        }
    }
    &.z-Field6 {
        ._textField {
            height: 2em;
            line-height: 2em;
        }
    }
    &.z-Field7 {
        ._textField {
            height: 2.75em;
            line-height: 2.75em;
        }
    }
}
