/* ==========================================================================
   #BREADCRUMB
   ========================================================================== */
.c-Breadcrumb {
    padding: 1em 0;
    ._link {
        padding: 0.25rem 0.5rem;
        position: relative;
        @include Text12Blue;
        border-radius: 1rem;
        margin: 0 0.5rem;
        &:after {
            content: '>';
            position: absolute;
            top: 4px;
            right: -11px;
            @include Text12BlueMedium;
        }
        &:last-child {
            background: $Grey3;
            font-weight: 500;
            &:after {
                display: none;
            }
        }
        &:first-child {
            padding-left: 0;
            margin-left: 0;
        }
    }
}
