/* ==========================================================================
   #TEXT
   ========================================================================== */

.c-TextRow {
    ._text {
        display: block;
        &.z-10Grey6 {
            @include Text10Grey;
        }
        &.z-10Blue {
            @include Text10Blue;
        }
        &.z-11Grey {
            @include Text11Grey;
        }
        &.z-11BlueMedium {
            @include Text11BlueMedium;
        }
        &.z-12Grey {
            @include Text12Grey;
        }
        &.z-12BlackBold {
            @include Text12BlackBold;
        }
        &.z-12Black {
            @include Text12Black;
        }
        &.z-14Blue {
            @include Text14Blue;
        }
        &.z-14Red {
            @include Text14Red;
        }
        &.z-14BlueBold {
            @include Text14BlueBold;
        }
        &.z-14Black {
            @include Text14Back;
        }
        &.z-14BlueMedium {
            @include Text14BlueMedium;
        }
        &.z-14Grey2 {
            @include Text14Grey2;
        }
        &.z-16Grey3Medium {
            @include Text16Grey2Medium;
        }
        &.z-16BlueMedium {
            @include Text16BlueMedium;
        }
        &.z-16Blue {
            @include Text16Blue;
        }
        &.z-16BlueBold {
            @include Text16BlueBold;
        }
        &.z-16Grey {
            @include Text16Grey;
        }
        &.z-16Red {
            @include Text16Red;
        }
        &.z-18Black2 {
            @include Text18Black2;
        }
        &.z-18Black2Bold {
            @include Text18Black2Bold;
        }
        &.z-18BlueBold {
            @include Text18BlueBold;
        }
        &.z-18BlueMedium {
            @include Text18BlueMedium;
        }
        &.z-20BlueBold {
            @include Text20BlueBold;
        }
        &.z-24BlueBold {
            @include Text24BlueBold;
        }
        &.z-30Blue {
            @include Text30Blue;
        }
        &.z-48BlueMedium {
            @include Text48BlueMedium;
        }
        &.z-Underlined {
            text-decoration: underline;
        }
        &.z-Disabled {
            cursor: not-allowed;
            opacity: 0.3;
        }
    }
    &.z-Inline {
        ._text {
            display: inline-block;
        }
    }
    &.z-HPadding1 {
        ._text {
            padding: 0 0.125em;
        }
    }
    &.z-HPadding2 {
        ._text {
            padding: 0 0.25em;
        }
    }
    &.z-HPadding3 {
        ._text {
            padding: 0 0.5em;
        }
    }
    &.z-VPadding3 {
        ._text {
            padding: 0.5em 0;
        }
    }
    &.z-Center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &.z-DirV {
        flex-direction: column;
    }
    &.z-SpaceBetween {
        display: flex;
        justify-content: space-between;
    }
}
