/* ==========================================================================
   #BUTTON
   ========================================================================== */

.c-Button {
    border: 0;
    text-align: center;
    height: 2.75em;
    border-radius: 1.25em;
    color: $White;
    background: $Blue;
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none !important;
    background-position: center;
    transition: background 0.8s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    &:active {
        background-size: 100%;
        transition: background 0s;
    }
    &:hover {
        box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.2);
    }

    &.z-HFull {
        width: 100%;
    }
    &.z-Width3 {
        min-width: 4.5rem;
    }
    &.z-Width4 {
        min-width: 6rem;
    }
    &.z-Width5 {
        min-width: 7.5rem;
    }
    &.z-Width6 {
        min-width: 9rem;
    }
    &.z-Width7 {
        min-width: 10.5rem;
    }
    &.z-Width8 {
        min-width: 12rem;
    }
    &.z-20BlueWhite11 {
        @include Button20BlueWhite11;
    }
    &.z-20WhiteBlack10 {
        @include Button20WhiteBlack10;
        &:hover {
            box-shadow: none;
        }
    }
    &.z-24BlueWhite11 {
        @include Button24BlueWhite11;
    }
    &.z-20BlueWhite10 {
        @include Button20BlueWhite10;
    }
    &.z-24LightBlueWhite12 {
        @include Button24LightBlueWhite12;
    }
    &.z-24BlueWhite {
        @include Button24BlueWhite;
    }
    &.z-24GreyWhite11 {
        @include Button24GreyWhite11;
    }
    &.z-24BlueWhiteBold {
        @include Button24BlueWhiteBold;
    }
    &.z-24Grey8White {
        @include Button24GreyWhite11;
    }
    &.z-24GreyBlue {
        @include Button24GreyBlue;
    }
    &.z-24OrangeWhite {
        @include Button24OrangeWhite;
    }
    &.z-32OrangeWhite {
        @include Button32OrangeWhite;
    }
    &.z-32BlueWhite {
        @include Button32BlueWhite;
    }
    &.z-44OrangeWhite {
        @include Button44OrangeWhite;
    }
    &.z-44GreyWhite {
        @include Button44GreyWhite;
    }
    &.z-44BlueWhite {
        @include Button44BlueWhite;
    }
    &.z-Padding1 {
        padding: 0 1em;
    }
    &.z-SaveIcon {
        background-image: url(../../../src/assets/images/SaveBlueIcon.png);
        background-position: 1rem center;
        padding-left: 2.5rem;
        &,
        &:active {
            background-size: 1rem;
        }
    }

    &[class*='Orange']:not([disabled]) {
        &:hover {
            background: #f0904b radial-gradient(circle, transparent 1%, #f0904b 1%) center/15000%;
        }
        &:active {
            background-size: 100%;
            transition: background 0s;
            background-color: #faa86e;
        }
    }
    &[class*='Blue']:not(.z-24GreyBlue):not([disabled]) {
        &:hover {
            background: #0e5b81 radial-gradient(circle, transparent 1%, #0e5b81 1%) center/15000%;
        }
        &:active {
            background-size: 100%;
            transition: background 0s;
            background-color: #1b6e97;
        }
    }
    &[disabled] {
        box-shadow: none;
        background: $Grey2;
        cursor: default;
    }
}
.c-ButtonGroup {
    &.z-DirV {
        .c-Button {
            display: block;
            width: 100%;
        }
    }
    &.z-VPadding1 {
        .c-Button {
            margin: 0.125rem 0;
        }
    }
    &.z-VPadding2 {
        .c-Button {
            margin: 0.25rem 0;
        }
    }
}
