/* ==========================================================================
   # Avatar Holder
   ========================================================================== */

.c-AvatarHolder {
    border-radius: 50%;
    background: $Blue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $White;
    font-weight: 700;
    text-transform: uppercase;
    height: 2.75em;
    width: 2.75em;

    &.z-Size1 {
        height: 2.5em;
        width: 2.5em;
    }
}
