/* ==========================================================================
   #TEXT MIXINS
   ========================================================================== */

@mixin Text8White() {
    color: $White;
    font-size: 0.5rem;
}
@mixin Text10White() {
    color: $White;
    font-size: 0.625rem;
}
@mixin Text10Blue() {
    color: $Blue;
    font-size: 0.625rem;
}
@mixin Text10Grey() {
    font-size: 0.625rem;
    color: $Grey;
}
@mixin Text11BlueMedium() {
    color: $Blue;
    font-size: 0.687rem;
    font-weight: 500;
}
@mixin Text11Grey() {
    color: $Grey;
    font-size: 0.687rem;
}
@mixin Text11Grey() {
    color: $Grey;
    font-size: 0.687rem;
}
@mixin Text11Grey2() {
    color: $Grey2;
    font-size: 0.687rem;
}
@mixin Text11BlueUnderline() {
    color: $Blue;
    font-size: 0.687rem;
    text-decoration: underline !important;
}
@mixin Text11Red() {
    color: $Red;
    font-size: 0.687rem;
}
@mixin Text12Grey() {
    color: $Grey;
    font-size: 0.75rem;
}
@mixin Text12Grey3Bold() {
    color: $Grey3;
    font-size: 0.75rem;
    font-weight: 700;
}
@mixin Text12Grey2() {
    color: $Grey2;
    font-size: 0.75rem;
}
@mixin Text12Grey3() {
    color: $Grey3;
    font-size: 0.75rem;
}
@mixin Text12Grey2Bold() {
    color: $Grey2;
    font-size: 0.75rem;
    font-weight: 700;
}
@mixin Text12Green() {
    color: $Green;
    font-size: 0.75rem;
}
@mixin Text12BlackBold() {
    color: $Black;
    font-size: 0.75rem;
    font-weight: 700;
}
@mixin Text12Black() {
    color: $Black;
    font-size: 0.75rem;
}
@mixin Text12Red2Medium() {
    color: $Red2;
    font-weight: 500;
    font-size: 0.75rem;
}
@mixin Text12Blue() {
    color: $Blue;
    font-size: 0.75rem;
}
@mixin Text12BlueMedium() {
    color: $Blue;
    font-weight: 500;
    font-size: 0.75rem;
}
@mixin Text13Grey() {
    color: $Grey;
    font-size: 0.812rem;
}
@mixin Text13Blue() {
    color: $Blue;
    font-size: 0.812rem;
}
@mixin Text13BlueBold() {
    color: $Blue;
    font-weight: 700;
    font-size: 0.812rem;
}
@mixin Text14Grey() {
    color: $Grey;
    font-size: 0.875rem;
}
@mixin Text14White() {
    color: $White;
    font-size: 0.875rem;
}
@mixin Text14Blue() {
    color: $Blue;
    font-size: 0.875rem;
}
@mixin Text14Red() {
    color: $Red;
    font-size: 0.875rem;
}
@mixin Text14BlueBold() {
    color: $Blue;
    font-weight: 700;
    font-size: 0.875rem;
}
@mixin Text14BlueMedium() {
    color: $Blue;
    font-weight: 500;
    font-size: 0.875rem;
}
@mixin Text14Blue() {
    color: $Blue;
    font-size: 0.875rem;
}
@mixin Text14Grey2Bold() {
    color: $Grey2;
    font-weight: 700;
    font-size: 0.875rem;
}
@mixin Text14Back() {
    color: $Black;
    font-size: 0.875rem;
}
@mixin Text14Grey3Bold() {
    color: $Grey3;
    font-weight: 700;
    font-size: 0.875rem;
}
@mixin Text14Grey2() {
    color: $Grey2;
    font-size: 0.875rem;
}
@mixin Text14RedUnderLine() {
    color: $Red;
    font-size: 0.875rem;
    text-decoration: underline !important;
}
@mixin Text14BlueUnderLine() {
    color: $Blue;
    font-size: 0.875rem;
    text-decoration: underline !important;
}
@mixin Text16Grey() {
    color: $Grey;
    font-size: 1rem;
}
@mixin Text16Black() {
    color: $Black;
    font-size: 1rem;
}
@mixin Text16BlueMedium() {
    color: $Blue;
    font-size: 1rem;
    font-weight: 500;
}
@mixin Text16Blue() {
    color: $Blue;
    font-size: 1rem;
}
@mixin Text16GreyBold() {
    color: $Grey;
    font-size: 1rem;
    font-weight: 700;
}
@mixin Text16BlueBold() {
    color: $Blue;
    font-size: 1rem;
    font-weight: 700;
}
@mixin Text16Red() {
    color: $Red;
    font-size: 1rem;
}
@mixin Text16Grey2Medium() {
    color: $Grey2;
    font-size: 1rem;
    font-weight: 500;
}
@mixin Text16BlueMedium() {
    color: $Blue;
    font-size: 1rem;
    font-weight: 500;
}
@mixin Text18Black2() {
    color: $Black2;
    font-size: 1.125rem;
}
@mixin Text18Black2Bold() {
    color: $Black2;
    font-size: 1.125rem;
    font-weight: 700;
}
@mixin Text18Black() {
    color: $Black;
    font-size: 1.125rem;
}
@mixin Text18Blue() {
    color: $Blue;
    font-size: 1.125rem;
}
@mixin Text18BlueMedium() {
    color: $Blue;
    font-size: 1.125rem;
    font-weight: 500;
}
@mixin Text18BlueBold() {
    color: $Blue;
    font-weight: 700;
    font-size: 1.125rem;
}
@mixin Text18BlackBold() {
    color: $Black;
    font-size: 1.125rem;
    font-weight: 700;
}
@mixin Text18White() {
    color: $White;
    font-size: 1.125rem;
}
@mixin Text20Black() {
    color: $Black;
    font-size: 1.25rem;
}
@mixin Text20BlueBold() {
    color: $Blue;
    font-size: 1.25rem;
    font-weight: 700;
}
@mixin Text20WhiteBold() {
    color: $White;
    font-size: 1.25rem;
    font-weight: 700;
}
@mixin Text21Blue() {
    color: $Blue;
    font-size: 1.312rem;
}
@mixin Text24Blue() {
    color: $Blue;
    font-size: 1.5rem;
}
@mixin Text24BlueBold() {
    color: $Blue;
    font-size: 1.5rem;
    font-weight: 700;
}
@mixin Text30Blue() {
    color: $Blue;
    font-size: 1.875rem;
}
@mixin Text30BlueBold() {
    color: $Blue;
    font-size: 1.875rem;
    font-weight: 700;
}
@mixin Text48BlueMedium() {
    color: $Blue;
    font-size: 3rem;
    font-weight: 500;
}
