/* ==========================================================================
   #COLORS
   ========================================================================== */

$White: #ffffff;
$Black: #000000;
$Black2: #232f34;
$Grey: #5f6062;
$Grey2: #a3a3a3;
$Grey3: #dedede;
$Grey4: #eeeeee;
$Grey5: #f5f5f5;
$Blue: #054769;
$LightBlue: #569fd3;
$LightBlue2: #d5e7f4;
$LightBlue3: #a2bac7;
$WhiteTrans: rgba(255, 255, 255, 0.5);
$Orange: #e7792a;
$Orange2: #d8702a;
$Red: #f44336;
$Red2: #e57373;
$Red3: #d32f2f;
$Green: #2e7d32;
$Green2: #009688;
$Green3: #00bfa5;
