/* ==========================================================================
   #SITE HEADER
   ========================================================================== */

.g-SiteHeader {
  ._logo {
    background: url(../images/logo.png);
    width: 10em;
    height: 2.7em;
    background-size: 100%;
  }
}
