.c-RoomService {
    display: flex;
    justify-content: space-between;
    padding: 1em 1em;
    border-bottom: 2px solid $Grey4;
    ._left {
        width: 4rem;
        flex: none;
        text-align: center;
    }
    ._leftText1 {
        @include Text24BlueBold;
        display: block;
    }
    ._leftText2 {
        @include Text11Grey;
    }
    ._middle {
        padding: 0 1em 0 0;
        flex: none;
        width: calc(100% - 7rem);
    }
    ._middleText1 {
        @include Text21Blue;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    ._meta {
        display: flex;
        padding-top: 0.25em;
        align-items: center;
    }
    ._metaText1 {
        @include Text14Grey;
    }
    ._metaIcon {
        width: 1.062em;
        height: 1.062em;
        margin: 0 0.5em;

        &.z-VerticalLine {
            background: url(../images/VerticalLineGreenIcon.png);
        }
        &.z-HorizontalLine {
            background: url(../images/HorizontalLineRedIcon.png);
        }
        &.z-ArrowRight {
            background: url(../images/ArrowRightBlueIcon.png);
        }
        // &.z-ArrowLeft {
        //     background: url(../images/ArrowLeftBlueIcon.png);
        // }
        &.z-ArrowDown {
            background: url(../images/ArrowDownBlueIcon.png);
        }
        &.z-ArrowLeftRight {
            background: url(../images/ArrowLeftRightBlueIcon.png);
        }
    }
    ._right {
        background: url(../images/ClockBlueIcon.png) center 0 no-repeat;
        background-size: 1.25rem;
        @include Text14Grey;
        padding: 1.7rem 0rem 0 0;
        flex: none;
        width: 3rem;
        text-align: center;
    }
    &.z-Red {
        border-left: 2px solid $Red3;
    }
    &.z-Green {
        border-left: 2px solid $Green2;
    }
}
