.c-Pills {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    > ._pill {
        height: 2em;
        background: $Grey2;
        border-radius: 2em;
        display: flex;
        margin: 0 0.25em 0.5em;
        &.z-RedBG {
            background: $Red2;
        }
        &.z-BlueBG {
            background: $Blue;
        }
    }
    ._icon {
        width: 2.5em;
        height: 2em;
        display: block;
    }
    ._text {
        @include Text18White;
        line-height: 1.777;
        display: block;
    }
    > ._pill {
        &.z-RedBG {
            ._icon {
                background: $Black url(../../../src/assets/images/BinBlackIcon.png) no-repeat;
                background-position: 7px 5px;
                border-radius: 2em;
                width: 2em;
                margin-right: 0.5em;
            }
        }
    }
    &.z-Key {
        ._icon {
            background: url(../../../src/assets/images/KeyWhiteIcon.png) no-repeat center center;
            background-size: 65%;
        }
    }
    &.z-Four {
        > ._pill {
            width: calc(25% - 0.375em);
            &:nth-child(4n) {
                margin-right: 0;
            }
            &:nth-child(4n + 1) {
                margin-left: 0;
            }
        }
    }
    &.z-Three {
        > ._pill {
            width: calc(33.33% - 0.475em);
            &:nth-child(3n) {
                margin-right: 0;
            }
            &:nth-child(3n + 1) {
                margin-left: 0;
            }
        }
    }
    &.z-Mode1 {
        > ._pill {
            height: 5em;
            width: 5em;
            background: none;
            border-radius: 1em;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 0 0.25em 0.5em;
            border: 1px solid $Grey3;
        }
        ._img {
            &.z-Blue {
                display: none;
            }
        }
        ._text {
            @include Text12Grey2;
        }
        > ._pill.z-Active {
            border-color: $Blue;
            ._img {
                &.z-Blue {
                    display: inline-block;
                }
                &.z-Grey {
                    display: none;
                }
            }
            ._text {
                color: $Blue;
            }
        }
    }
}

.c-Pill {
    padding: 0.25em 0.25em;
    > ._pill {
        border-radius: 1em;
        border: 1px solid $Grey3;
        position: relative;
        padding-bottom: 100%;
    }
    ._content {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    ._img {
        &.z-Blue {
            display: none;
        }
    }
    ._text {
        @include Text12Grey2;
        padding-top: 0.5em;
    }
    &.z-Border {
        > ._pill {
            border: 0;
            &:after {
                content: ' ';
                position: absolute;
                top: 33.33%;
                right: 33.33%;
                bottom: 33.33%;
                left: 33.33%;
                border: 1px dashed $Grey3;
                border-radius: 0.33em;
                transform: scale(3);
            }
        }
    }
    &.z-Active {
        > ._pill {
            border-color: $Blue;
        }
        ._img {
            &.z-Blue {
                display: inline-block;
            }
            &.z-Grey {
                display: none;
            }
        }
        ._text {
            color: $Blue;
        }
    }
}
