<head>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
<link rel="stylesheet" type="text/css" href="/static/css/custom.css">
</head>

<body>

<div class="container users">
 
</div>

<div class="user-row-template invisible row justify-content-evenly">
        
    <div class="col-4 invisible user-template">
        <div class="container mt-5 d-flex justify-content-center">
            <div class="card p-3">
                <div class="d-flex align-items-center">
                    <div class="image"> <img class="user-image" src="https://www.tenforums.com/geek/gars/images/2/types/thumb_15951118880user.png" class="rounded" width="155"> </div>
                    <div class="ml-3 w-100">
                        <h4 class="mb-0 mt-0 user-name">Alex Morrision</h4> <span class="user-mail">Senior Journalist</span>
                        <div class="button mt-2 d-flex flex-row align-items-center"> <button class="btn btn-sm btn-outline-primary w-100 btn-edit" userid="">Edit</button> <button class="btn btn-sm btn-danger w-100 ml-2 btn-delete" userid="">Delete</button> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4 invisible user-template">
        <div class="container mt-5 d-flex justify-content-center">
            <div class="card p-3">
                <div class="d-flex align-items-center">
                    <div class="image"> <img class="user-image" src="https://www.tenforums.com/geek/gars/images/2/types/thumb_15951118880user.png" class="rounded" width="155"> </div>
                    <div class="ml-3 w-100">
                        <h4 class="mb-0 mt-0 user-name">Alex Morrision</h4> <span class="user-mail">Senior Journalist</span>
                        <div class="button mt-2 d-flex flex-row align-items-center"> <button class="btn btn-sm btn-outline-primary w-100 btn-edit" userid="">Edit</button> <button class="btn btn-sm btn-danger w-100 ml-2 btn-delete" userid="">Delete</button> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> 

<script src="/static/js/jquery.js"></script>
<script src="/static/js/home.js"></script>
</body>