<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codingChallenge.sampleApplication.mapper.UserMapper">
    <select id="getList" resultType="com.codingChallenge.sampleApplication.dto.UserInfoDto">
        SELECT
            id,email,first_name,last_name,avatar
        FROM user
    </select>

</mapper>
